{% extends "web/template/main.njk" %}
{% from "web/template/_macros.njk" import post_title %}

{% set features = features | default([]) %}
{% set features = features.concat((metadata.features | default('')).split(' ')) %}

{% block title %} {{ metadata.doctitle }} {% endblock %}
