{% extends "web/template/main.njk" %}
{% from "web/template/_macros.njk" import post_title %}

{% block title %} {{ metadata.doctitle }} {% endblock %}

{% block head %}
  <script async src="/js/bundle.lightbox.js"></script>
{% endblock %}

{% block content %}
  {{ post_title(title = metadata.doctitle, url = '#', created = metadata.created) }}

  {% block post_content %}
  {% endblock %}

  <div id="hyvor-talk-view"></div>
  <script>
    // Make sure we handle our custom navigation.
    window.HYVOR_TALK_WEBSITE = {{ settings.hyvor_website_id }}
    window.HYVOR_TALK_CONFIG = {
      url: window.location.href.split('#')[0],
      id: window.location.pathname
    }

    console.log(window.HYVOR_TALK_CONFIG.id)
    if (window.hyvor_talk) {
      window.hyvor_talk.reload()
    }
  </script>
  <script async src="//talk.hyvor.com/web-api/embed"></script>
{% endblock %}
