{% extends "web/template/main.njk" %}
{% from "web/template/_macros.njk" import post_title %}

{% block title %} {{ metadata.doctitle }} {% endblock %}

{% block content %}
  {{ post_title(title = metadata.doctitle, url = '#', created = metadata.created) }}

  {% block post_content %}
  {% endblock %}
{% endblock %}
