{% extends "web/template/adoc.njk" %}

{% set side_title = true %}

{% block content %}
  <h1 class="mdc-typography--headline3 post-section-header">
    {{ metadata.doctitle }}
  </h1>
  {% block proj_content %}
  {% endblock %}
{% endblock %}
