$primary-light: #ffffffdb;
$accent-light: #0d47a1;
$warning-light: #5c00d2;
$on-primary-light: #000000;

$primary-dark: #171717;
$accent-dark: #5882c2;
$warning-dark: #df55f2;
$on-primary-dark: #ffffffe0;
