<div id="{{node.getId()}}" class="imageblock">
  <div class="imageblock-inner">
    <img
      {% if node.hasAttribute('target') %} src="{{node.getAttribute('target')}}" {% endif %}
      {% if node.hasAttribute('alt') %} alt="{{node.getAttribute('alt')}}" {% endif %}>
    {% if node.hasTitle() %}
      <span class="imageblock-text">
        <span class="imageblock-text-inner">
          {% if node.getTitle() == '_alt' %}
            {{ node.getAttribute('alt') }}
          {% else %}
            {{ node.getTitle() }}
          {% endif %}
        </span>
      </span>
    {% endif %}
  </div>
</div>
