<div id="{{node.getId()}}" class="imageblock">
  <div class="imageblock-inner">
    {% if node.hasTitle() %}
      {% set title = node.getTitle() %}
    {% endif %}

    {% if title == '_alt' %}
      {% set title = node.getAttribute('alt') %}
    {% endif %}

    <a class="lightbox" href="{{node.getAttribute('target')}}">
      <img
        src="{{node.getAttribute('target')}}"
        {% if node.hasAttribute('alt') %}
          alt="{{node.getAttribute('alt')}}"
        {% endif %}
        {% if title %}
          title="{{title}}"
        {% endif %}>
    </a>
    {% if title %}
      <span class="imageblock-text">
        <span class="imageblock-text-inner">{{title}}</span>
      </span>
    {% endif %}
  </div>
</div>
