<div id="{{node.getId()}}" class="imageblock">
  <div class="imageblock-inner">
    {% if node.hasTitle() %}
      {% set title = node.getTitle() %}
    {% endif %}

    {% if title == '_alt' %}
      {% set title = node.getAttribute('alt') %}
    {% endif %}

    {% set target = node.getAttribute('target') %}
    {% set compressed = target.startsWith('/images') %}
    {% if compressed %}
      {% set basename = target.slice(0, target.lastIndexOf('.')) + '.compressed' %}
      {% set extension = target.slice(target.lastIndexOf('.')) %}
      {% set target = basename + extension %}
    {% endif %}

    <a class="lightbox" href="{{target}}">
      {% if compressed %}
        <picture>
          <source srcset="{{basename}}.avif" type="image/avif">
          <source srcset="{{basename}}.webp" type="image/webp">
      {% endif %}

      <img
        src="{{target}}"
        {% if node.hasAttribute('alt') %}
          alt="{{node.getAttribute('alt')}}"
        {% endif %}
        {% if title %}
          title="{{title}}"
        {% endif %}>

      {% if compressed %}
        </picture>
      {% endif %}
    </a>
    {% if title %}
      <span class="imageblock-text">
        <span class="imageblock-text-inner">{{title}}</span>
      </span>
    {% endif %}
  </div>
</div>
