<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <id>https://refi64.com/</id>
  <title>re:fi.64's website</title>
  <link href="https://refi64.com/"/>
  <link
    href="https://refi64.com/atom.xml" rel="self"
    type="application/atom+xml"/>
  <author>
    <name>Ryan Gonzalez</name>
  </author>
  <updated>{{git.last_commit_timestamp}}</updated>

  {% for post in posts %}
    {% set url = 'https://refi64.com/posts/' + post.id %}
    <entry>
      <title>{{post.title}}</title>
      <published>{{post.created}}T05:00:00Z</published>
      <updated>{{post.created}}T05:00:00Z</updated>
      <link href="{{url}}"/>
      <id>{{url}}/</id>
      <summary type="html">{{post.teaser}}</summary>
      <content type="html">{{post.content}}</content>
    </entry>
  {% endfor %}
</feed>
