{% extends "web/template/main.njk" %}
{% from "web/template/_macros.njk" import post_title %}

{% set title = 'Home' %}

{% block content %}
  {% for post in posts %}
    {% set url = '/posts/' + post.id %}
    {{ post_title(title = post.title, url = url, created = post.created, small = true) }}
    <div>{{ post.teaser | safe }}</div>
    <p><a href="{{ url }}">Read more...</a></p>
  {% endfor %}
{% endblock %}
